body{
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: darkgrey;
    border: darkgrey solid 2px;
    margin: 10px;
    padding: 20px;
    width: 50%;
    margin-left: 50px;
    margin-top: 50px;
}


.todo{
    margin-left: 30px;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
}

.cabeza{
    display: flex;
    grid-column-start: 0;
}

.medio{
    display: flex;
    margin-top: 30px;
}

.final{
    display: flex;
    margin-top: 40px;
}

.logo4geeks{
    margin-left: 290px;
    height: 80px;
    margin-top: 10px;
}

form{
    margin-top: 20px;
    margin-left: 110px;
}

.final{
    width: 250px;
}


.centrar{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 50px;
    width: 130px;
    background-color: rgba(52, 183, 235, 0.8);
    border: none;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

input{
    border: none;
    border-bottom: white solid 1px;
}