body{
    font-family: 'Noto Sans', sans-serif; 
    background-color: black;
}

.contenido{
    display: flex;
    justify-content: center;
    background-color:black;
}

#limite{
    margin-top: 80px;
    width: 45%;
    background-color: white;
}

.todo{
    margin-left: 30px;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
}

.cabeza{
    display: flex;
    grid-column-start: 0;
}

.medio{
    display: flex;
    margin-top: 30px;
}

.final{
    display: flex;
    margin-top: 40px;
}

.logo4geeks{
    margin-left: 300px;
    height: 80px;
    margin-top: 10px;
}

form{
    margin-top: 20px;
    margin-left: 110px;
}

.final{
    width: 250px;
}


.boton{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 50px;
    width: 130px;
    background-color: lightgray;
    border: none;
    padding: 5px;
    border-radius: 4px;
}

input{
    border: none;
    border-bottom: lightgrey solid 1px;
}

h1{
    margin-top: 50px;
}